## Predicting Fatal Accidents - Final Model (for heroku app)

### Naive Random Oversampling

In [1]:
import json
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sqlalchemy import create_engine
from imblearn.over_sampling import RandomOverSampler
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from pathlib import Path
from collections import Counter
from config import db_password

In [2]:
file_dir = 'C://Users/sd0066/Documents/GitHub/Final/Resources'
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/fatal_accident_db"
engine = create_engine(db_string)

In [3]:
# fetch data from database
cursor = engine.execute('SELECT "REGIONNAME" as "region", "MONTHNAME" as "month", "LGT_CONDNAME" as "light_condition", "WEATHERNAME" as "weather", "Outcome" as "outcome"\
FROM accident2020 LEFT JOIN vehicle2020 ON accident2020."CASENUM" = vehicle2020."CASENUM" UNION ALL \
SELECT "REGIONNAME" as "region",  "MONTHNAME" as "month", "LGT_CONDNAME" as "light_condition", "WEATHERNAME" as "weather", "Outcome" as "outcome" FROM accident2019 \
LEFT JOIN vehicle2019 ON accident2019."CASENUM" = vehicle2019."CASENUM"').fetchall()

In [4]:
accident_df = pd.DataFrame(cursor, columns=["region","month","light_condtion","weather","outcome"])
accident_df

,region,month,light_condtion,weather,outcome
0,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",January,Daylight,Clear,0
1,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",January,Daylight,Rain,0
2,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",January,Daylight,Rain,0
3,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",January,Daylight,Rain,0
4,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",January,Dawn,Clear,0
...,...,...,...,...,...
174139,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",April,Daylight,Clear,0
174140,"South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA,...",August,Daylight,Clear,0
174141,"West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, ...",January,Dusk,Cloudy,0
174142,"Northeast (PA, NJ, NY, NH, VT, RI, MA, ME, CT)",June,Daylight,Clear,0
174143,"Northeast (PA, NJ, NY, NH, VT, RI, MA, ME, CT)",March,Dark - Lighted,Clear,0

In [5]:
category_col =["region","month","light_condtion","weather"]
labelEncoder = preprocessing.LabelEncoder()
 
mapping_dict ={}
for col in category_col:
    accident_df[col] = labelEncoder.fit_transform(accident_df[col])
 
    le_name_mapping = dict(zip(labelEncoder.classes_,
                        labelEncoder.transform(labelEncoder.classes_)))
 
    mapping_dict[col]= le_name_mapping
print(mapping_dict)

{'region': {'Midwest (OH, IN, IL, MI, WI, MN, ND, SD, NE, IA, MO, KS)': 0, 'Northeast (PA, NJ, NY, NH, VT, RI, MA, ME, CT)': 1, 'South (MD, DE, DC, WV, VA, KY, TN, NC, SC, GA, FL, AL, MS, LA, AR, OK, TX)': 2, 'West (MT, ID, WA, OR, CA, NV, NM, AZ, UT, CO, WY, AK, HI)': 3}, 'month': {'April': 0, 'August': 1, 'December': 2, 'February': 3, 'January': 4, 'July': 5, 'June': 6, 'March': 7, 'May': 8, 'November': 9, 'October': 10, 'September': 11}, 'light_condtion': {'Dark - Lighted': 0, 'Dark - Not Lighted': 1, 'Dawn': 2, 'Daylight': 3, 'Dusk': 4}, 'weather': {'Blowing Sand, Soil, Dirt': 0, 'Blowing Snow': 1, 'Clear': 2, 'Cloudy': 3, 'Fog, Smog, Smoke': 4, 'Freezing Rain or Drizzle': 5, 'Rain': 6, 'Severe Crosswinds': 7, 'Sleet or Hail': 8, 'Snow': 9}}

In [6]:
y = accident_df["outcome"]
X = accident_df.drop(columns="outcome")

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, 
                                                    y, 
                                                    random_state=1, 
                                                    stratify=y)
X_train.shape

(130608, 4)

In [8]:
# Resample the training data with the RandomOversampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({0: 127993, 1: 127993})

In [9]:
X_test.shape

(43536, 4)

In [10]:
# Train the Logistic Regression model using the resampled data
random_over_model = LogisticRegression(solver='lbfgs', random_state=1)
random_over_model.fit(X_resampled, y_resampled)

LogisticRegression(random_state=1)

In [11]:
# Calculated the balanced accuracy score
y_pred = random_over_model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.606139159500221

In [12]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[32150, 10514],
       [  472,   400]], dtype=int64)

In [13]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.99      0.75      0.46      0.85      0.59      0.36     42664
          1       0.04      0.46      0.75      0.07      0.59      0.34       872

avg / total       0.97      0.75      0.46      0.84      0.59      0.36     43536

In [15]:
import pickle
pickle_out = open("model.pkl", "wb")
pickle.dump(random_over_model, pickle_out)
pickle_out.close()